$vert: #33b698;

.authentification {
    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        display: flex;
        background-color: $vert;
        border-radius: 25px;

        @media (max-width: 768px) {
            flex-direction: column;
            width: 90%;
        }

        .image {
            position: relative;
            width: 60%;
            object-fit: cover;
            line-height: 0;

            @media (max-width: 768px) {
                width: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: url("../images/logotype-blanc.svg");
                background-size: 25%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, .5);
                border-radius: 25px 0 0 25px;

                @media (max-width: 768px) {
                    border-radius: 25px 25px 0 0;
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 25px 0 0 25px;

                @media (max-width: 768px) {
                    border-radius: 25px 25px 0 0;
                }
            }
        }

        form {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            padding: 50px 25px;

            @media (max-width: 768px) {
                width: 90%;
                gap: 25px;
                padding: 50px 0;
                margin: auto;
            }

            h1 {
                color: white;
            }

            .formulaire {
                width: 75%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 0 auto;

                input {
                    color: white;
                    background-color: transparent;
                    border: solid 2px white;
                    padding: 10px;

                    &::placeholder {
                        color: white;
                    }

                    &:focus {
                        outline-color: black;
                    }
                }
            }

            button {
                color: white;
                border-color: white;
                margin: 0 auto;

                &::after {
                    filter: brightness(3);
                }
            }

            p {
                color: white;
                text-align: center;
            }
        }
    }

    &.inscription {
        label {
            display: none;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }

        .nom {
            display: flex;
            gap: 10px;
        }

        .conditions div {
            display: flex;
            flex-direction: row-reverse;
            justify-content: left;
            gap: 10px;

            input {
                position: relative;
                width: fit-content;
                appearance: none;

                &:hover {
                    cursor: pointer;
                }

                &:checked::after {
                    content: "✓";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            label {
                display: block;
                color: white;
            }
        }
    }
}
